
<div class="grid">
    <div class="col-12 md:col-3">
        <div class="card relative h-6rem border-round-xl p-3">
            <span class="text-sm font-medium line-height-1">
                BIOQUIMICA
            </span>
            <div class="flex justify-content-between">
                <div class="flex justify-content-between align-items-center">
                    <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                        style="
                            background-color: #fc6161;
                            box-shadow: 0px 6px 20px rgba(252, 97, 97, 0.3);
                        ">
                        <span class="line-height-2">40</span>
                    </div>
                    <div class="line-height-4 text-4xl">40%</div>
                </div>
            </div>
            <img class="absolute" style="bottom: 14px; right: 12px"
                src="assets/demo/images/ecommerce-dashboard/rate.svg" />
        </div>
    </div>
    <div class="col-12 md:col-3">
        <div class="card relative h-6rem border-round-xl p-3">
            <span class="text-sm font-medium line-height-1">
                SEROLOGIA
            </span>
            <div class="flex justify-content-between">
                <div class="flex justify-content-between align-items-center">
                    <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                        style="
                            margin-right: 12px;
                            background-color: #0bd18a;
                            box-shadow: 0px 6px 20px rgba(11, 209, 138, 0.3);
                        ">
                        <span class="line-height-2">20</span>
                    </div>
                    <div class="line-height-4 text-4xl">20%</div>
                </div>
            </div>
            <img class="absolute" style="bottom: 14px; right: 12px"
                src="assets/demo/images/ecommerce-dashboard/value.svg" />
        </div>
    </div>
    <div class="col-12 md:col-3">
        <div class="card relative h-6rem border-round-xl p-3">
            <span class="text-sm font-medium line-height-1">
               HEMATOLOGIA
            </span>
            <div class="flex justify-content-between">
                <div class="flex justify-content-between align-items-center">
                    <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                        style="
                            background-color: #00d0de;
                            box-shadow: 0px 6px 20px rgba(0, 208, 222, 0.3);
                        ">
                        <span class="line-height-2">20</span>
                    </div>
                    <div class="line-height-4 text-4xl">30%</div>
                </div>
            </div>
            <img class="absolute" style="bottom: 14px; right: 12px"
                src="assets/demo/images/ecommerce-dashboard/quantity.svg" />
        </div>
    </div>
    <div class="col-12 md:col-3">
        <div class="card relative h-6rem border-round-xl p-3">
            <span class="text-sm font-medium line-height-1">
                INMUNOLOGIA
            </span>
            <div class="flex justify-content-between">
                <div class="flex justify-content-between align-items-center">
                    <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                        style="
                            background-color: #fc6161;
                            box-shadow: 0px 6px 20px rgba(252, 97, 97, 0.3);
                        ">
                        <span class="line-height-2">30</span>
                    </div>
                    <div class="line-height-4 text-4xl">30%</div>
                </div>
            </div>
            <img class="absolute" style="bottom: 14px; right: 12px"
                src="assets/demo/images/ecommerce-dashboard/rate.svg" />
        </div>
    </div>


    <div class="col-12 md:col-8">
        <div class="card">
            <div class="card-header line-height-4">
                <span>Cantidad Examen Procesado</span>
                <p-dropdown [options]="revenueMonth" [(ngModel)]="selectedRevenueMonth" optionLabel="name"
                    (onChange)="
                        changeRevenueChart($event); revenue.refresh()
                    "></p-dropdown>
            </div>

            <div class="graph">
                <p-chart #revenue type="line" id="revenue-chart" [data]="revenueChart"
                    [options]="revenueChartOptions"></p-chart>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-4">
        <div class="card p-0">
            <div class="timeline-header p-3 flex justify-content-between align-items-center">
                <p class="m-0">Cantidad Examen Procesado</p>
                <div class="header-icons">
                    <i class="pi pi-refresh ml-2"></i>
                    <i class="pi pi-filter ml-2"></i>
                </div>
            </div>
            <div class="timeline-content pb-3">
                <p-timeline [value]="timelineEvents" styleClass="custom-timeline py-0 px-3">
                    <ng-template pTemplate="marker" let-event>
                        <span
                            class="custom-marker border-circle p-1 w-2rem h-2rem flex justify-content-center align-items-center"
                            [style.backgroundColor]="event.iconColor">
                            <i [ngClass]="event.icon"></i>
                        </span>
                    </ng-template>
                    <ng-template pTemplate="content" let-event>
                        <div class="flex align-items-center justify-content-between">
                            <p class="m-0">{{ event.transaction }}</p>
                            <h6 class="m-0" [style.color]="event.amountColor">
                                {{ event.amount }}
                            </h6>
                        </div>
                        <span class="text-sm text-color-secondary">{{ event.date }}</span>
                    </ng-template>
                </p-timeline>
            </div>
            <div
                class="timeline-footer border-top-1 surface-border	p-3 flex align-items-center justify-content-center">
                <a href="#" class="text-primary hover:text-primary-400 transition-duration-200">View all
                    transactions <i class="pi pi-arrow-down"></i></a>
            </div>
        </div>
    </div>


    <div class="col-12 widget-customer-carousel">
        <h6>Top customers</h6>
        <p-carousel [value]="customerCarousel" [numVisible]="4" [numScroll]="1" [circular]="true"
            [responsiveOptions]="carouselResponsiveOptions" indicatorsContentClass="hidden">
            <ng-template let-customer pTemplate="item">
                <div class="card mr-4">
                    <div class="customer-item-content text-center">
                        <div class="mb-6">
                            <img src="assets/demo/images/ecommerce-dashboard/{{
                                    customer.image
                                }}.png" [alt]="customer.image" class="product-image" />
                        </div>
                        <div>
                            <h4>{{ customer.user }}</h4>
                            <h5 class="mt-0 mb-3 text-color-secondary">{{ customer.value }}</h5>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>
