<div class="grid">
    <div class="col-12">

		<div class="card">
			<h5>LISTADOS AREAS</h5>
            <p-toast key="tst"></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (keyup.enter)="buscar($event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
					</div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Refrescar" icon="pi pi-refresh" class="p-button-secondary mr-2" (click)="listar()"></button>
                    <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="editar()"></button>
                </ng-template>
            </p-toolbar>

			<p-table #dt1 [value]="datacollection" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" responsiveLayout="scroll">
				<ng-template pTemplate="header">
					<tr>
						<th style="min-width: 12rem" pSortableColumn="codigo">Codigo <p-sortIcon field="codigo"></p-sortIcon></th>
						<th style="min-width: 12rem" pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
						<th style="min-width: 12rem" pSortableColumn="nroDocumento">Descripcion <p-sortIcon field="nroDocumento"></p-sortIcon></th>
                        <th style="min-width: 12rem" pSortableColumn="nombre">Laboratorio <p-sortIcon field="nombre"></p-sortIcon></th>
						<th style="min-width: 12rem" pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
						<th style="min-width: 12rem" pSortableColumn="accion">Acciones</th>				
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-data>
					<tr>
						<td>
							{{data.codigo}}
						</td>
						<td>
							<span class="image-text ml-2">{{data.nombre}}</span>
						</td>					
						<td>
							<span class="image-text ml-2">{{data.descripcion}}</span>
						</td>
                        <td>
							<span class="image-text ml-2">{{data.nombreLaboratorio}}</span>
						</td>
						<td style="min-width: 200px;">
							<span [class]="'customer-badge status-' + data.color">{{data.estado}}</span>
						</td>
						<td>
                            <div class="flex flex-wrap gap-2">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editar(data)"></button>
								<button *ngIf="data.estado=='DESACTIVADO'" pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-warning  mr-2" (click)="cambiarEstado(data)"></button>
								<button *ngIf="data.estado=='ACTIVO'" pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger mr-2" (click)="cambiarEstado(data)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="eliminar(data)"></button>
                            </div>
                        </td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="6">No customers found.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="6">Loading customers data. Please wait.</td>
					</tr>
				</ng-template>
    		</p-table>
		</div>

        <div [formGroup]="form" #frmGrupo="ngForm">
            <p-dialog [(visible)]="areaDialog" [style]="{width: '500px'}" header="{{formTitulo}}" [modal]="true" class="p-fluid">
                <ng-template pTemplate="content">
                    <div class="grid p-fluid">
                        <div class="col-12 md:col-12">
                            <div class="field mt-4 space">
                                <span class="p-float-label">
                                    <p-dropdown
                                    inputId="dropdown"
                                    [autoDisplayFirst]="true"
                                    [options]="listaLaboratorio"
                                    [(ngModel)]="laboratorio"
                                    formControlName="idLaboratorio"
                                    optionLabel="nombre"
                                    ></p-dropdown>
                                    <label for="dropdown">LABORATORIO</label>
                                </span>
                            </div>
                            <div class="field space">
                                <span class="p-float-label">
                                    <input
                                        type="text"
                                        id="inputtext"
                                        pInputText
                                        formControlName="nombre"
                                        maxlength="50"
                                    />
                                    <label for="inputtext">NOMBRE</label>
                                </span>
                            </div>
                            <div class="field space">
                                <span class="p-float-label">
                                    <input
                                        type="text"
                                        id="inputtext"
                                        pInputText
                                        formControlName="descripcion"
                                        maxlength="50"
                                    />
                                    <label for="inputtext">DESCRIPCIÓN</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-template>
    
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="cerrar()"></button>
                    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="guardar()" [disabled]="frmGrupo.invalid"></button>
                </ng-template>
            </p-dialog>
    
        </div>

        <p-dialog [(visible)]="deleteAreaDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="area">{{mensaje}} <br> <b>{{area.nombre}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteAreaDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="confirmar(area.idArea!, tipo)"></button>
            </ng-template>
        </p-dialog>

	</div>
</div>
